html{
  background-image: linear-gradient(to bottom right,lightcyan,lightskyblue);
  background-image: -o-linear-gradient(to bottom right,lightcyan,lightskyblue);
  background-image: -webkit-linear-gradient(to bottom right,lightcyan,lightskyblue);
  background-repeat: no-repeat;
}

body{
  max-width: auto;
  font-family: sans-serif Arial, Helvetica, sans-serif; 
}

.site-nav ul{
  margin-left: 600px;
  padding: 20px 40px 80px 40px;
  box-sizing: border-box;
  position: relative;
}

.site-nav li{
  list-style: none; 
  float: left;
}

.site-nav a{
  text-decoration: none;
  margin: 5px 10px;
  font-size: 150%;
  color: black;
}

.logo img{
  width: 5%;
  display: block;
  padding: 0px 50px 0px 50px;
  position: absolute;
  bottom: 25%;
}

.site-nav a:hover{
  border-bottom: 5px solid paleturquoise;
  transition-duration: 1s;
}

.container{
  background-image: linear-gradient(to bottom,white,lightcyan);
  background-image: -o-linear-gradient(to bottom,white,lightcyan);
  background-image: -moz-linear-gradient(to bottom,white,lightcyan);
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  transform: translateY(-110%);
}

body:hover .container{
  transform: translateY(0);
  transition: all 2s; 
}

.content{
  margin: 7% 5%;
}

.content h1{
  font-size: 300%;
}

.content p{ 
  color: grey;
  font-size: 200%;
  width: 50%;
}

.text{
  opacity: 0;
  transform: translateX(-105%);
  position: relative;
}

.text a{
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.text a:hover{
  background-color: lightgrey;
  color: black;
  transition: 1s;
}

body:hover .text{ 
  opacity: 1;
  transform: translateX(0);
  transition: all 1.5s;
}

.content img{
  display: block;
  transform: scale(.2) translateX(-120%) translateY(-250%) rotate(-10deg);
  margin-bottom: -250%;
}

.alt-container img{
  display: none;
}

.alt-content img{
  display: block;
  width: 50%;
}



@media screen and (max-width:480px){
  
  .content img{
    width: 100%;
    display: block;
    transform: scale(.5) rotate(-10deg) translateY(-120%) translateX(70%);
  }
  
  .content{
    margin-top: 60px;
  }
  
  .content h1{
    font-size: 100%;
    display: block;
  }
  
  .content p{
    font-size: 100%;
    display: block;
  }
  
  .alt-container{ 
    font-size: 50%;
    padding: 20px;
    margin-left: -40px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding-top: 300px;
  }
  
  .site-nav ul{ 
    display: block;
    padding: 10px;
    margin: 10px 0px 15px 0px;
    margin-left: 170px;
    box-sizing: border-box;
  }
  
  .site-nav li{
    margin-top: -10px;
  }
  
  .site-nav a{
    font-size: 70%;
    padding: 5px;
    margin: 1px;
  }
  
  .logo img{
    margin-left: -30px;
  }
  
  .text a{
    padding: 7px;
    border-radius: 12px;
  }
  
  .alt-container{
    margin-top: -40%;
    display: none;
    width: 100%;
    position: relative;
  }
 
 .alt-container .about{
    width: 80%;
    display: block;
    margin-left: 30px; 
    flex: none;
    padding: 15px;
    font-size: 200%;
    z-index: 101;
  }
 
 .alt-container .about-b{
    width: 80%;
    display: block;
    flex: none;
    margin-left: -60%;
    padding: 15px;
    font-size: 200%;  
    transform: translateY(110%);
  }
  
 .alt-container img{
   display: block;
   width: 100%;
   margin-left: 30px;
   margin-top: 30px;
   transform: scale(1) rotate(180deg);
   position: absolute;
 }
  
 .alt-content{
    display: block;
    font-size: 60%;
    box-sizing: border-box;
    margin-top: -105%;
 }

.login a{
  position: absolute;
  top: 30%;
  left: 7%;
  text-decoration: none;
  color: black;
  background-color: #4858FF42;
  border: 1px solid #4858FF42;
  border-radius: 8px;
  padding: 4px;
  opacity: 0;
  transform: scale(.8);
} 

}

body:hover .login a{
  opacity: 1;
  transition-duration: 3.5s;
  transform: scale(1);
  box-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

@media screen and (min-width:767px){ 

.login a{
  position: absolute;
  top: 22%;
  left: 6%;
  font-size: 260%;
  text-decoration: none;
  border: 1px solid #4858FF42;
  padding: 8px; 
  border-radius: 13px;
  color: black;
  background-color: #4858FF42; 
  opacity: 0;
  transform: scale(.8);
}

body:hover .login a{
  opacity: 1;
  transition-duration: 3.5s;
  transform: scale(1);
  box-shadow: 1px 1px 4px rgba(0,0,0,.5);
}

}

 @media screen and (min-width:720px) {
   
    .alt-content{
      margin-top: -55%;
    }
    
}

.alt-content{
  background-image: linear-gradient(to bottom,white,lightcyan);
  background-image: -o-linear-gradient(to bottom,white,lightcyan);
  background-image: -moz-linear-gradient(to bottom,white,lightcyan);
  box-shadow: 20px 20px 50px rgba(0,0,0,0.3);
  margin-bottom: 100px;
  border-radius: 15px;
  transform: scale(.9);
}

@media screen and (max-width:480px) {

 .alt-content{
     box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

}

.alt-text{
  font-size: 230%;
  width: 50%;
  padding: 20% 10%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.alt-content img{
  width: 50%;
  display: block; 
  margin-top: -45%;
  padding-bottom: 20%;
  transform: translateX(90%);
}

@media screen and (max-width:480px) {
  
  .alt-content img{
   margin-top: -200px;
  }
  
  .alt-text{
    font-size: 170%;
  }
  
}

.alt-container{
  display: flex;
  margin-bottom: 600px;
  margin-top: -600px;
}

.about,
.about-b{
  display: block;
  font-size: 220%;
  background-color: white;
  flex: 1;
  padding: 40px;
  margin: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 3px 3px 10px rgba(0,0,0,.5);
  border-radius: 15px; 
}

@-webkit-keyframes logo-anime{
  0%{
    opacity: 0;
  }
  
  30%{
    transform: scale(.8);
    display: block;
    opacity: .7;
  }
  
  45%{
    transform: scale(.8) rotate(180deg);
    display: block;
    opacity: .6;
  }
  
  70%{
    transform: scale(.8) rotate(180deg);
    display: block;
    opacity: .6;
  }
  
  95%{
    transform: scale(.8);
    display: block;
    opacity: .7;
  }
  
  100%{
    transform: scale(1);
    display: block;
    opacity: 1;
  }
  
}

@keyframes logo-anime{
  
  0%{
    opacity: 0;
  }
  
  30%{
    transform: scale(.8);
    display: block;
    opacity: .7;
  }
  
  45%{
    transform: scale(.8) rotate(180deg);
    display: block;
    opacity: .6;
  }
  
  70%{
    transform: scale(.8) rotate(180deg);
    display: block;
    opacity: .6;
  }
  
  95%{
    transform: scale(.8);
    display: block;
    opacity: .7;
  }
  
  100%{
    transform: scale(1);
    display: block;
    opacity: 1;
  }
  
}


.logo img:hover{
  display: block;
  -webkit-animation-name: logo-anime;
  animation-name: logo-anime;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

footer{
  background-color: #00000026;
  color: white;
  text-align: center;
  padding: 50px;
  margin: -10px;
}


footer p{
  font-size: 220%;
  text-shadow: 2px 2px 6px rgba(0,0,0,.4);
  color: white;
}

footer a{
  font-size: 170%;
  text-align: center;
  color: white;
  margin-left: -300px;
  box-sizing: border-box;
  text-shadow: 2px 2px 6px rgba(0,0,0,.4);
}

@media screen and (max-width:480px) {
  
  footer{
    font-size: 60%;
  }
  
  footer a{
    padding-left: 125%;
  }
  
}
  
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

